@charset "UTF-8";
@font-face {
    font-family: Pretendard;
    src: url(../fonts/Pretendard-Regular.woff);
}
@font-face {
    font-family: Protest;
    src: url(../fonts/ProtestStrike-Regular.woff);
}
*{margin: 0;padding: 0;}
body{font-size: 0;font-family: Pretendard;}
ul{list-style: none;}
a{text-decoration: none;color: #333;}

.h_wp{width: 100%;height: 100px;background: #fff;position: fixed;left: 0;top: 0;z-index: 999;}
header{width: 95%;max-width: 1600px;margin: 0 auto;display: flex;justify-content: space-between;height: 100px;left: 50%;top: 0; transform: translateX(-50%);z-index: 999;position: fixed;transition: ease 0.4s;&--scrolled {height: 40px;}}
header .logo{height: 100%;display: flex;align-items: center;}
header .logo a{display: inline-block;width: 200px;height: 30px; background-image: url(../images/brand_logo2.png);background-size: contain;background-repeat: no-repeat;}
header .nav{display: flex;height: 100%;}
header .nav li{padding: 0 15px;height: 100%;}
header .nav li a{display: inline-block;width: 100%;height: 100%; font-size: 18px;font-weight: bold;display: inline-flex;align-items: center;justify-content: center;position: relative;}
header .nav li a::before{content: "";position: absolute;left: 50%;top: 25px;transform: translateX(-50%); width: 8px;height: 8px;border-radius: 50%;background: #E51B24;opacity: 0;transition: 0.3s;}
header .nav li:hover a::before{opacity: 1;}
header .nav li:hover a{color: #E51B24;}

.sec0{width: 100%;height: 800px;background: #E51B24;position: relative;top: 100px;overflow: hidden;}
.s0_inner{width: 100%;height: 100%;}
.s0_inner .s0_txt{font-size: 24px;color: #fff;}
.s0_inner .img_box div{position: absolute;}
.s0_inner .img_box div:first-child{bottom: -260px;left: 50%;transform: translateX(-50%);z-index: 1;}
.s0_inner .img_box div:nth-child(2){bottom: -290px;left: 35%;transform: translateX(-50%);}
.s0_inner .img_box div:nth-child(3){bottom: -285px;left: 65%;transform: translateX(-50%);}
.s0_inner .img_box div:first-child img{transform: scale(1.5);}
.s0_inner .img_box div:nth-child(2) img,
.s0_inner .img_box div:nth-child(3) img{transform: scale(1.3);}

.s0_txt{position: relative;}
/* .s0_txt::before{content: "";position: absolute;right: 445px;top: 80px; width: 86px;height: 65px;background-image: url(../images/brand_logo3_w.png);z-index: 1;}
.s0_txt::after{content: "";position: absolute;right: 441px;top: 82px; width: 86px;height: 65px;background-image: url(../images/brand_logo3_b.png);opacity: 50%;} */
.s0_txt p{position: absolute;}
.s0_txt p:first-child{left: 400px;top: 0;font-size: 42px;position: relative;display: inline-block;}
.s0_txt p:first-child::before{content: "";position: absolute;right: -90px;top: 70px;width: 230px;height: 3px;background: #fff;transform: rotate(-55deg);}
.s0_txt p:nth-child(2){font-family: Protest;font-size: 120px;left: 366px;top: 120px;text-shadow: 9px 7px 4px rgba(0, 0, 0, 0.3);position: relative;display: inline-block;}
.s0_txt p:nth-child(2)::before{content: "";position: absolute;right: 0px;top: -45px; width: 86px;height: 65px;background-image: url(../images/brand_logo3_w.png);z-index: 1;}
.s0_txt p:nth-child(2)::after{content: "";position: absolute;right: -4px;top: -42px; width: 86px;height: 65px;background-image: url(../images/brand_logo3_b.png);opacity: 50%;}

.bg_box{position: absolute;width: 100%;height: 100%;top: 0;}
.bg_box span{background-size: contain;background-repeat: no-repeat;position: relative;display: inline-block;}
.ap{background-image: url(../images/apple.png);width: 120px;height: 120px;top: 450px;left: 80px;}
.wm{background-image: url(../images/watermelon.png);width: 130px;height: 130px;top: 300px;left: 150px;}
.banana{background-image: url(../images/banana.png);width: 180px;height: 130px;top: 630px;left: 100px;}
.sb{background-image: url(../images/strawberry.png);width: 120px;height: 120px;top: 300px;left: 1050px;transform: rotate(-60deg);}
.mg{background-image: url(../images/mango.png);width: 130px;height: 130px;top: 400px;left: 1150px;}
.lm{background-image: url(../images/lemon.png);width: 150px;height: 150px;top: 600px;left: 730px;transform: rotate(90deg);}


.sec1{height: 1000px;margin-top: 120px;box-sizing: border-box;position: static;width: 100%;position: relative;font-size: 16px;padding-top: 80px;}
.sec1::before{content: "";position: absolute;z-index: 2;background-image: url(../images/wave-cover-w.png);top: -60px;width: 100%;height: 50px;}
.sec1 .s1_inner{width: 100%;max-width: 1600px;margin: 0 auto;text-align: center;display: flex;flex-direction: column;align-items: center;}
.sec1 .s1_inner .s1_title .s1_logo{background: url(../images/brand_logo2.png) no-repeat center/contain;width: 450px;height: 78px;}
.sec1 .s1_inner .s1_title p{text-transform: uppercase;font-family: Protest;font-size: 48px;color: #AA3339;}

.s1_item{width: 100%;display: flex;margin-top: 50px;}
.s1_item div{background: #ccc;width: 100%;height: 500px;}
.s1_item div:nth-child(2){margin-top: 100px;}
.s1_item div:nth-child(3){margin-top: 20px;}
