@charset "utf-8";

*{margin: 0;padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #333;}
.contents{width: 1200px;margin: 50px auto;height: 200px;}
/* 높이 고정해뒀기 때문에 overflow 필요없음 */
.contents>div{width: calc(100% / 3);float: left;position: relative;}
/* .contents>div.left ul.title li 고정점 */
.contents>div.left input[type="radio"]{display: none;}
.contents>div.left ul.title li{position: absolute; width: 100px;background: #ccc;text-align: center;line-height: 40px;border: 1px solid #333;z-index: 1;}
.contents>div.left ul.title li:nth-child(2){left: 100px;}
/* 공지사항이랑 갤러리 겹친 상태여서 옆으로 이동한것 */
.contents>div.left ul.title li label{display: block;width: 100%; height: 100%;}
/* label이 인라인요소라 display: block; */
.contents>div.left ul.content{position: relative; top: 40px;border: 1px solid #333;width: 100%; height: 150px;}
/* title이랑 겹쳐서 원래 위치에서 40px 내림 */
.contents>div.left ul.content>li{position: absolute; display: none; font-size: 14px; width: 100%;}
.contents>div.left ul.content>li table{width: 90%;table-layout: fixed;margin: 10px auto 0;}
.contents>div.left ul.content>li table td:first-child{width: 70%;overflow: hidden;white-space: nowrap; text-overflow: ellipsis;}
.contents>div.left ul.content>li table td:last-child{width: 30%; text-align: right;}
.contents>div.left ul.content>li ul{text-align: center;width: 100%;}
.contents>div.left ul.content>li ul li{display: inline-block; height: 150px; line-height: 150px;}
.contents>div.left ul.content li img{width: 120px; vertical-align: middle;}
/* 수직정렬 위해  height: 150px; line-height: 150px; vertical-align: middle; . line-height로 수직 안맞으면 높이주기. 이미지는 이미지 자체에 vertical-align까지*/
#notice:checked ~ ul.title li:first-child{background: #fff; border-bottom: none;}
#gallery:checked ~ ul.title li:last-child{background: #fff; border-bottom: none;}
#notice:checked ~ ul.content>li:first-child,#gallery:checked ~ ul.content>li:last-child{display: block;}
